@model IdealDiscuss.Models.Comment.CommentViewModel

@{
    ViewData["Title"] = "Comment Detail";
}

<div class="body">

    @if (Model is not null)
    {
        <div class="card">

            <div class="card-header">
                <h5>
                    <span class="text-danger">Comment:</span>
                    @Model.CommentText
                </h5>

                @if (Model.CommentReports.Count != 0 && User.IsInRole("Admin"))
                {
                    <form asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@Model.Id" method="post" style="display:inline-block">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                }
            </div>

            <div class="card-body">

                @if (Model.CommentReports.Count != 0)
                {
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            Reports:
                        </div>
                        <ul class="list-group list-group-flush">
                            @foreach (var report in Model.CommentReports)
                            {
                                <li class="list-group-item">
                                    @report.AdditionalComment
                                    <span class="badge bg-dark">@report.CommentReporter</span>
                                    <a asp-controller="CommentReport" asp-action="GetCommentReportDetail" asp-route-id="@report.Id">View Report Detail</a>
                                </li>
                            }
                        </ul>
                    </div>
                }

                <a asp-controller="Question" asp-action="Index" class="btn btn-secondary">Back to list</a>

            </div>
        </div>
    }
</div>