@model List<IdealDiscuss.Dtos.CommentDto.ViewCommentDto>

@{
    ViewData["Title"] = "Comment List";
    int count = 1;
    var status = ViewBag.Status == false ? false : true;
    var questionId = ViewContext.RouteData.Values["id"];
}



@if (status == false)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S/N</th>
                <th scope="col">Comment Text</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.CommentText</td>
                    <td>
                        <div class="btn-group">
                            <a asp-controller="Comment" asp-action="GetCommentDetail" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                        </div>
                    </td>
                    <td>
                        <a asp-controller="CommentReport" asp-action="CreateCommentReport" asp-route-id="@item.Id" class="btn btn-primary">Report Comment</a>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
}

