@model IdealDiscuss.Dtos.CategoryDto.ViewCategoryDto

@{
    ViewData["Title"] = "Category Detail";
    var status = ViewBag.Status == false ? false : true;
}

<div class="body">

    @if (status is false)
    {
             <span class="badge text-center bg-danger">@ViewBag.Message</span>
             <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary">Go back to list</a>
        return;
    }
     <dl class="row">
          <dt class="col-sm-4">
               Category Id:
          </dt>

          <dd class="col-sm-8">
            @Model.Id
          </dd>

          class="row">
          <dt class="col-sm-4">
               Category Name:
          </dt>

          <dd class="col-sm-8">
            @Model.Name
          </dd>

          <dt class="col-sm-4">
               Description:
          </dt>

          <dd class="col-sm-8">
            @Model.Description
          </dd>
     </dl>
     <br />
     <div class="btn-group">
        <a asp-controller="Category" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success">Update</a>
        &nbsp;
        <form asp-action="DeleteCategory" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form
    </div>
</div>
