@using System.Security.Claims;
@model IdealDiscuss.Dtos.QuestionDto.ViewQuestionDto

@{
    ViewData["Title"] = "Question Detail";
}

<div class="body">

    @await Html.PartialAsync("_Alert", Model)

    @if (Model is not null)
    {
        <div>
            @Model.ImageUrl
            <p class="lead">@Model.QuestionText</p>

   
            <hr />
            
            <div class="btn-group">
                @if (Model.UserId == Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
                {
                    <a asp-controller="Question" asp-action="DeleteQuestion" asp-route-id="@Model.Id" class="btn btn-success">Delete</a>
                    <a asp-controller="Question" asp-action="UserQuestions" class="btn btn-secondary">Back to list</a>
                }
                else
                {
                    <a asp-controller="Question" asp-action="UserQuestions" class="btn btn-secondary">Back to list</a>
                }
            </div>
            @if (Model.Comments is not null)
            {
                <h5 class="mt-3">Comments:</h5>

                <ul>
                    @foreach (var comment in Model.Comments)
                    {
                        <li>
                            @comment.CommentText -
                            <i class="badge bg-secondary">by @comment.UserName</i>
                        </li>
                    }
                </ul>

            }
            

        </div>
    }
</div>






