@model IdealDiscuss.Models.Question.QuestionViewModel

@{
    ViewData["Title"] = "Question Detail";
}

<div class="body">

    @if (Model is not null)
    {
        <div class="card">

            <img src="@Model.ImageUrl" class="card-img-top" />

            <div class="card-header">

                <h5>
                    @Model.QuestionText

                   </h5>

                   <div class="card-body">

                    @if (Model.QuestionReports.Count != 0 && User.IsInRole("Admin"))
                         {
                                 <div class="card mb-3">
                                      <div class="card-header bg-light">
                                           Reports:
                                      </div>
                                      <ul class="list-group list-group-flush">

                                     @foreach (var report in Model.QuestionReports)
                                     {
                                               <li class="list-group-item">
                                             @report.AdditionalComment
                                                    <span class="badge bg-dark">@report.QuestionReporter</span>
                                                    <a asp-controller="QuestionReport" asp-action="GetQuestionReport" asp-route-id="@report.Id">View Report Detail</a>
                                               </li>
                                     }
                                      </ul>
                                 </div>
                         }

                        <a class="kt-form__actions" asp-controller="QuestionReport" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-secondary">View Report</a>
                   </div>

                @if (Model.Comments.Count == 0 && User.IsInRole("AppUser"))
                {
                    <a asp-controller="Question" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>

                    <form asp-controller="Question" asp-action="DeleteQuestion" asp-route-id="@Model.Id" method="post" style="display:inline-block">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                }

                @if (Model.QuestionReports.Count != 0 && User.IsInRole("Admin"))
                {
                    <form asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@Model.Id" method="post" style="display:inline-block">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                }

            </div>

            <div class="card-body">

                @if (Model.Comments.Count != 0)
                {
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            Comments:
                        </div>
                        <ul class="list-group list-group-flush">
                            @foreach (var comment in Model.Comments)
                            {
                                <li class="list-group-item">
                                    @comment.CommentText
                                    <span class="badge bg-dark">@comment.UserName</span>

                                    <a asp-controller="Comment" asp-action="Update"
                           asp-route-id="@comment.Id" class="btn btn-primary btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>

                                    <form asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@comment.Id" class="del-btn">
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-controller="Comment" asp-action="GetCommentDetail"
                           asp-route-id="@comment.Id">
                                            View Report
                                        </a>
                                    }

                                </li>
                            }
                        </ul>
                    </div>
                }

                <div>
                    <a asp-controller="Question" asp-action="Index" class="btn btn-secondary">
                        Back to list
                    </a>
                </div>

            </div>
        </div>
    }
</div>






