@using System.Security.Claims;
@model IdealDiscuss.Dtos.QuestionDto.ViewQuestionDto

@{
    ViewData["Title"] = "Question Detail";
}

<div class="body">

    @await Html.PartialAsync("_Alert", Model)

    @if (Model is not null)
    {
        <div class="card">

            <img src="@Model.ImageUrl" class="card-img-top" />

            <div class="card-header">

                <h5>@Model.QuestionText</h5>

                @if (Model.Comments.Count == 0 && User.IsInRole("AppUser"))
                {
                    <a asp-controller="Question" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">
                        Update
                    </a>
                    <a asp-controller="Question" asp-action="DeleteQuestion" asp-route-id="@Model.Id" class="btn btn-success">
                        Delete
                    </a>
                }
            </div>

            <div class="card-body">

                @if (Model.Comments.Count != 0)
                {
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            Comments:
                        </div>
                        <ul class="list-group list-group-flush">
                            @foreach (var comment in Model.Comments)
                            {
                                <li class="list-group-item">
                                    @comment.CommentText
                                    <span class="badge bg-dark">@comment.UserName</span>
                                </li>
                            }
                        </ul>
                    </div>
                }

                <div>
                    <a asp-controller="Question" asp-action="Index" class="btn btn-secondary">
                        Back to list
                    </a>
                </div>

            </div>
        </div>
    }
</div>






