@model List<IdealDiscuss.Dtos.QuestionDto.ViewQuestionDto>

@{
    ViewData["Title"] = "Question List";
    int count = 1;
    var status = ViewBag.Status == false ? false : true;
}

<div>
    <a asp-controller="Question" asp-action="Create" class="btn btn-outline-primary">Add A Question</a>
</div>

@if (status is false)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Question</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@count</td>
                    <td scope="row">@item.UserName</td>
                    <td scope="row">@item.QuestionText</td>
                    <td scope="row">
                        <div class="btn-group">
                            <a asp-controller="Question" asp-action="GetQuestionDetail" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                        </div>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
}



