@model List<IdealDiscuss.Dtos.QuestionDto.ViewQuestionDto>

@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_ListAlert", Model)

@if (Model is not null)
{
    @foreach (var question in Model)
    {
        <h4>@question.QuestionText</h4>
        <span class="badge bg-warning">By @question.UserName</span>
        <span class="badge bg-primary">Comments @question.Comments.Count</span>
        <a asp-controller="Comment" asp-action="Create" asp-route-id="@question.Id">Add Comment</a>

        @if (question.Comments.Count == 0)
        {
            <p>Be the first to comment on this</p>
        }

        @if (question.Comments.Count >= 1)
        {
            <h5 class="mt-3">Comments:</h5>
            <ul>
                @foreach (var comment in question.Comments)
                {
                    <li>@comment.CommentText - <i class="badge bg-secondary">by @comment.UserName</i></li>
                }
            </ul>
        }
    }
}

