@model List<IdealDiscuss.Dtos.QuestionDto.ViewQuestionDto>

@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_ListAlert", Model)

@if (Model is not null)
{
    @foreach (var question in Model)
    {
        <h4>@question.QuestionText</h4>
        <span class="badge bg-warning">By @question.UserName</span>
        <span class="badge bg-primary">Comments @question.Comments.Count</span>
        <a asp-controller="Comment" asp-action="Create" asp-route-id="@question.Id">Add Comment</a>

        @if (question.Comments.Count == 0)
        {
            <p>Be the first to comment on this</p>
        }

        @if (question.Comments.Count != 0)
        {
            <div class="card mt-3 mb-3">
                <div class="card-header bg-light">
                    Comments:
                </div>
                <ul class="list-group list-group-flush">

                    @foreach (var comment in question.Comments)
                    {
                        <li class ="list-group-item">
                            @comment.CommentText
                            <span class="badge bg-secondary">@comment.UserName</span>
                            <a asp-controller="CommentReport" asp-action="CreateCommentReport" asp-route-id="@comment.Id">Report comment</a>
                        </li>
                    }
                </ul>
            </div>
        }
    }
}

