@model IdealDiscuss.Models.Flag.FlagViewModel
@{
    ViewData["Title"] = "Flag Details";
}

<h3 class="card-title">
    @ViewData["Title"]
</h3>

<div class="card-body">

    @if (Model is not null)
    {
        <dl class="row">
            <dt class="col-sm-4">FlagName</dt>
            <dd class="col-sm-8">@Model.FlagName</dd>
            <dt class="col-sm-4">Description</dt>
            <dd class="col-sm-8">@Model.Description</dd>
        </dl>

        <a asp-controller="Flag" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Update</a>

        <form asp-action="DeleteFlag" asp-route-id="@Model.Id" class="del-btn">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        <a asp-controller="Flag" asp-action="Index" class="btn btn-secondary">Back to list</a>
    }
</div>
