@model IdealDiscuss.Dtos.RoleDto.ViewRoleDto

@{
    ViewData["Title"] = "Role Detail";
    var status = ViewBag.Status == false ? false : true;
}

<div class="body">

    @if (status is false)
    {
        <span class="badge text-center bg-danger">@ViewBag.Message</span>
        <a asp-controller="Role" asp-action="Index" class="btn btn-outline-secondary">Go back to list</a>
        return;
    }
    <dl class="row">
        <dt class="col-sm-4">
            Role Name:
        </dt>

        <dd class="col-sm-8">
            @Model.RoleName
        </dd>

        <dt class="col-sm-4">
            Description:
        </dt>

        <dd class="col-sm-8">
            @Model.Description
        </dd>
    </dl>
    <br />
    <div class="btn-group">
        <a asp-controller="Role" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Update</a>
        &nbsp;
        
       

        <form asp-action="DeleteRole" asp-route-id="@Model.Id = 1">
           <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        
        &nbsp;
        <a asp-controller="Role" asp-action="Index" class="btn btn-secondary">Back to list</a>
    </div>
</div>






