@model IdealDiscuss.Models.QuestionReport.QuestionReportViewModel
@{
	ViewData["Title"] = "Question Reports";
}

<h3 class="card-title">
	 <i class="fas fa-text-width"></i>
	 Question Reports
</h3>

<div class="card-body">
	 <dl class="row">
		  <dt class="col-sm-4">QuestionId</dt>
		  <dd class="col-sm-8">@Model.QuestionId</dd>
		  <dt class="col-sm-4">AdditionalComment</dt>
		  <dd class="col-sm-8">@Model.AdditionalComment</dd>
		  <dt class="col-sm-8">@Model.FlagNames</dt>
		  <dd class="col-sm-8">FlagNames</dd>
	 </dl>

	 <div class="kt-form__actions">
		@if (Model.UserId == "1")
		{
			<form asp-action="DeleteQuestionReport" asp-route-id="@Model.Id" style="display:inline">
				<button type="submit" class="btn btn-danger">Delete</button>
			</form>

			<a class="btn btn-primary" asp-action="Index" asp-controller="QuestionReport">Back to List</a>
		}
		else
		{
			<a class="btn btn-primary" asp-action="Index" asp-controller="QuestionReport">Back to List</a>
		}
		  <a class="btn btn-success" asp-action="UpdateQuestionReport" asp-controller="QuestionReport" asp-route-id="@Model.Id">update</a>
		  &nbsp;
		  <a asp-controller="QuestionReport" asp-action="GetAllQuestionReport" asp-route-id="@Model.Id class="btn btn-success">Flag this question</a>
	 </div>
</div>
